<div class="body">
<div class="home-div">
  <!--Nav home et deconnexion-->
  <nav>
    <a routerLink="/home">
      <mat-icon class="home" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </a>
    <button class="deconnexion" mat-stroked-button color="primary" (click)="deconnexion()">Deconnexion</button>
  </nav>
</div>

<!--Détails de l'assignment-->
<mat-card *ngIf="assignmentTransmis && matiere && etudiant" >
  <h1>Détails de l'assignement</h1>

  <h2>Etudiant</h2>

  <p> Nom : {{etudiant.nom}} </p>
  <p> Prénom : {{etudiant.prenom}} </p>
  <p> Promo : {{etudiant.promo}} </p>

  <br>
  <h2>Devoir</h2>

  <div class="wrap">
    <div class="contenu">
      <p> Type de devoir : {{ assignmentTransmis.nom }}</p>
      <p> Date de rendu : {{ assignmentTransmis.dateDeRendu | date }}</p>
    </div>
    <div class="contenu">
      <p [ngClass]="{'success':assignmentTransmis.rendu,'danger':!assignmentTransmis.rendu}"> Note : {{ assignmentTransmis.note }}</p>
      <p [ngClass]="{'success':assignmentTransmis.rendu,'danger':!assignmentTransmis.rendu}"> Remarque : {{ assignmentTransmis.remarque}}</p>
    </div>
  </div>
  <br>
  <h2>Matière</h2>

  <div class="wrap">
    <div class="contenu">
      <p>Nom : {{matiere.nom}}</p>
      <img [src]="matiere.photoMatiere">
    </div>
    <div class="contenu">
      <p>Enseigné par : {{matiere.nomProf}}</p>
      <img [src]="matiere.photoProf">
    </div>
  </div>
  <br>
  <br>
  <!--Boutons pour rendre, éditer et supprimer l'assignement-->
  <div id="bottom">
    <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()" [disabled]="assignmentTransmis.note==undefined">Rendu</mat-checkbox>
    <button mat-stroked-button color="primary" (click)="openEditDialog()" [disabled]="assignmentTransmis.note!=undefined">Edit</button>
    <button mat-raised-button color="primary" (click)="openDeleteDialog()">Delete</button>
  </div>
</mat-card>
</div>
