<div class="body">
<div class="home-div">
  <!--Nav home et déconnexion-->
  <nav>
    <a routerLink="/home">
      <mat-icon class="home" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </a>
    <button class="deconnexion" mat-stroked-button color="primary" (click)="deconnexion()">Deconnexion</button>
  </nav>
</div>
<!--Formulaire stepper pour ajouter un assignment-->
<h1>Ajout d'un assignment</h1>
<mat-stepper orientation="vertical">
  <mat-step>
    <mat-form-field #etudiantForm class="form">
      <ng-template matStepLabel>Choix de l'étudiant</ng-template>
        <mat-label>Étudiant</mat-label>
        <mat-select [(ngModel)]="etudiant" required>
          <mat-option *ngFor="let student of students" [value]="student.value">
            {{student.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Matière</ng-template>
    <ng-template matStepContent>
      <mat-form-field #etudiantForm class="form">
        <ng-template matStepLabel>Choix de la matière</ng-template>
          <mat-label>Matière</mat-label>
          <mat-select [(ngModel)]="matiere" required>
            <mat-option *ngFor="let matiere of matieres" [value]="matiere.value">
              {{matiere.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Choix du devoir</ng-template>
    <mat-form-field>
      <input matInput #nomAssignment placeholder="nom du devoir" [(ngModel)]="nomDevoir" name="nom" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-stroked-button color="primary" (click)="onSubmit();">Ajout</button>
    </div>
  </mat-step>
</mat-stepper>
</div>
