<div class="body">
  <div class="home-div">
    <!--Nav home et deconnexion-->
    <nav>
      <a routerLink="/home">
        <mat-icon class="home" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </a>
      <button class="deconnexion" mat-stroked-button color="primary" (click)="deconnexion()">Deconnexion</button>
    </nav>
  </div>

  <!--Détails de l'assignment-->
  <mat-card *ngIf="assignment && matiere && etudiant" >

    <h1>Détails de l'assignement</h1>

    <h2>Etudiant</h2>

    <p> Nom : {{etudiant.nom}} </p>
    <p> Prénom : {{etudiant.prenom}} </p>
    <p> Promo : {{etudiant.promo}} </p>

    <br>
    <h2>Devoir</h2>
    <!--Formulaire pour éditer un devoir-->
    <div class="wrap">
      <div class="contenu">
        <p> Type de devoir : <input matInput placeholder="Edition du nom" [(ngModel)]="nomAssignment" name="assignment-name"></p>
        <p> Date de rendu : <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu"
          name="date"><mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker></p>
      </div>
      <div class="contenu">
        <p [ngClass]="{'success':assignment.rendu,'danger':!assignment.rendu}"> Note :
          <input matInput placeholder="Note" [(ngModel)]="note" name="assignment-note"></p>
        <p [ngClass]="{'success':assignment.rendu,'danger':!assignment.rendu}"> Remarque :
          <input matInput placeholder="Remarque" [(ngModel)]="remarque" name="assignment-remarque">
        </p>
      </div>
    </div>
    <br>
    <h2>Matière</h2>

    <div class="wrap">
      <div class="contenu">
        <p>Nom : {{matiere.nom}}</p>
        <img [src]="matiere.photoMatiere">
      </div>
      <div class="contenu">
        <p>Enseigné par : {{matiere.nomProf}}</p>
        <img [src]="matiere.photoProf">
      </div>
    </div>
    <br>
    <br>
    <!--Bouton pour sauvegarder les changements-->
    <div id="bottom">
      <button mat-raised-button color="primary" (click)="onSaveAssignment()">Sauvegarder</button>
    </div>
  </mat-card>
  </div>
