@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

.title{ 
  margin: 2% auto 10% auto;
  text-align: center;
  font-size: 250%;
  font-family: 'Playfair Display', serif;
  color: #3e403f;
}

form{
  /*display:flex;
  flex-direction:column;
  width:40%;*/
  width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}

span{
  margin-left : 50%;
  color:rgb(136, 136, 240);
}

span:active{
  color:rgb(189, 50, 50);
}

.input{ 
  /*background: #fff;*/
    color: #333;
    padding: 8px 0px 10px 9px;
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
    width: 100%;

}

mat-form-field {
  width: 60%;
  margin-left: 20%;
}

button { 
  margin: 0 auto;
  display: flex;
    justify-content: center;
}